<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--&lt;!&ndash;    开启事务日志&ndash;&gt;
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>-->

    <!--设置别名-->
    <typeAliases>
        <!--name:实体类所在的包名-->
        <package name="com.wupeng.domain"/>
    </typeAliases>

    <mappers>
        <!--name是包名，这个包下面的所有mapper.xml文件都加载
            使用package的要求：
            1.mapper文件名和dao接口名必须一样，区分大小写
            2.mapper文件必须和dao接口放在同一目录下
        -->
        <package name="com.wupeng.dao"/>
    </mappers>

</configuration>
